In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
store = pd.read_csv('../../data/store.csv')
store

,fips,state,county,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,specialty_16,specialty_per1kpop_16,snap_available_17,snap_available_per1kpop_17,wic_available_16,wic_available_per1kpop_16
0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,1,0.018090,44.666667,0.804747,5.0,0.090511
1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,27,0.130115,189.416667,0.890836,28.0,0.134802
2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,2,0.077598,36.000000,1.424614,6.0,0.232387
3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,0,0.000000,18.166667,0.801423,5.0,0.221474
4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,0,0.000000,40.166667,0.692374,8.0,0.139089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,1,0.022601,27.250000,0.625948,4.0,0.090344
3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,8,0.345125,8.000000,0.343864,3.0,0.129528
3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,2,0.096567,15.250000,0.744084,3.0,0.144991
3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,0,0.000000,6.083333,0.754382,2.0,0.244858
3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,0,0.000000,8.583333,1.239113,3.0,0.415916

In [3]:
#checking data types
store.dtypes

fips                            int64
state                          object
county                         object
grocery_16                      int64
grocery_per1kpop_16           float64
super_16                        int64
super_per1kpop_16             float64
convenience_16                  int64
convenience_per1kpop_16       float64
specialty_16                    int64
specialty_per1kpop_16         float64
snap_available_17             float64
snap_available_per1kpop_17    float64
wic_available_16              float64
wic_available_per1kpop_16     float64
dtype: object

In [4]:
#copy in case I want to do any testing later
store_copy = store.copy()

In [5]:
#changing fips to category
store['fips'] = store['fips'].astype('category')

In [6]:
store.describe()

,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,specialty_16,specialty_per1kpop_16,snap_available_17,snap_available_per1kpop_17,wic_available_16,wic_available_per1kpop_16
count,3143.000000,3143.000000,3143.000000,3143.000000,3143.00000,3143.000000,3143.000000,3143.000000,3117.000000,3116.000000,2985.000000,2982.000000
mean,20.807827,0.243835,1.782055,0.018255,40.35762,0.595571,7.458479,0.055450,73.513662,0.918405,14.577889,0.217240
std,90.196535,0.216536,4.310650,0.022460,97.01666,0.304968,29.697479,0.075095,209.590608,0.372241,48.084899,0.191315
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.083333,0.040180,1.000000,0.004938
25%,2.000000,0.132983,0.000000,0.000000,7.00000,0.401678,0.000000,0.000000,10.416667,0.678890,2.000000,0.114667
50%,5.000000,0.186116,1.000000,0.014654,15.00000,0.542005,1.000000,0.042268,24.000000,0.863784,5.000000,0.165353
75%,12.000000,0.279887,1.500000,0.029268,35.00000,0.722071,4.000000,0.079363,58.166667,1.102872,10.000000,0.247699
max,2495.000000,3.267974,97.000000,0.250752,2199.00000,3.680982,787.000000,1.095690,6112.833333,5.902454,1188.000000,3.262643

In [7]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fips                        3143 non-null   category
 1   state                       3143 non-null   object
 2   county                      3143 non-null   object
 3   grocery_16                  3143 non-null   int64
 4   grocery_per1kpop_16         3143 non-null   float64
 5   super_16                    3143 non-null   int64
 6   super_per1kpop_16           3143 non-null   float64
 7   convenience_16              3143 non-null   int64
 8   convenience_per1kpop_16     3143 non-null   float64
 9   specialty_16                3143 non-null   int64
 10  specialty_per1kpop_16       3143 non-null   float64
 11  snap_available_17           3117 non-null   float64
 12  snap_available_per1kpop_17  3116 non-null   float64
 13  wic_available_16            2985 non-null   float64
 14  wic_available_per1kpop_16   2982 non-null   float64
dtypes: category(1), float64(8), int64(4), object(2)
memory usage: 439.1+ KB

In [8]:
states = {
        'AK': 'O',
        'AL': 'S',
        'AR': 'S',
        'AS': 'O',
        'AZ': 'W',
        'CA': 'W',
        'CO': 'W',
        'CT': 'N',
        'DC': 'N',
        'DE': 'N',
        'FL': 'S',
        'GA': 'S',
        'GU': 'O',
        'HI': 'O',
        'IA': 'M',
        'ID': 'W',
        'IL': 'M',
        'IN': 'M',
        'KS': 'M',
        'KY': 'S',
        'LA': 'S',
        'MA': 'N',
        'MD': 'N',
        'ME': 'N',
        'MI': 'W',
        'MN': 'M',
        'MO': 'M',
        'MP': 'O',
        'MS': 'S',
        'MT': 'W',
        'NA': 'O',
        'NC': 'S',
        'ND': 'M',
        'NE': 'W',
        'NH': 'N',
        'NJ': 'N',
        'NM': 'W',
        'NV': 'W',
        'NY': 'N',
        'OH': 'M',
        'OK': 'S',
        'OR': 'W',
        'PA': 'N',
        'PR': 'O',
        'RI': 'N',
        'SC': 'S',
        'SD': 'M',
        'TN': 'S',
        'TX': 'S',
        'UT': 'W',
        'VA': 'S',
        'VI': 'O',
        'VT': 'N',
        'WA': 'W',
        'WI': 'M',
        'WV': 'S',
        'WY': 'W'
}

In [10]:
#looking for NaN and -9999

res2 = store.isin(['-9999','', 'NaN', '-']).any().any()
  
if res2:
    print("\nany of the mention value exists in Dataframe")
      
else:
    print("\nNone of thses values exists in Dataframe")

None of thses values exists in Dataframe

In [12]:
# Checking for NaN values

store.isnull().values.any()
store.isnull().sum().sum()

372

In [13]:
store.to_csv("store_clean.csv")